[2019-09-30 19:14] fovecsernyes opened #2 "#architecture - Docker-compose refactor"
Please check and refactor the docker compose file, if needed.

[2019-09-30 19:18] fovecsernyes opened #3 "#feature - Login and user creation"
Please investigate how we can manage users in django (sign up, log in, store data etc.). We need some info of the already implemented features in the framework.

[2019-09-30 19:21] fovecsernyes opened #4 "#backend - Database management"
Please investigate how we can use django with postgresql. The preferred method would be entities, because we dont want to control the database directly with sql scrips.

Please provide a working example.

[2019-09-30 19:24] fovecsernyes opened #5 "#database - Design baseline schema"
Please design the base schema for the database. Make a decision about what tables do we need and how should they connect.

Please create a diagram of the relations.

[2019-09-30 19:25] fovecsernyes opened #6 "#ui - General UI design"
Please try to redesign the main windows.

[2019-09-30 19:33] martinb214 opened #7 "#security - Setting up SSL to the website"
Secure the website with HTTPS.

[2019-10-05 15:15] Jugis commented on #5
@Leriel9 mai este elkezdem és felöltök egy Django Builder DB sémát. Ahogy nézem valami app generátor.

[2019-10-05 15:18] fovecsernyes commented on #5
Légyszi majd a boardon is mozgassatok a taskot, és a branch neve feature/5 legyen (5az issue szama).

[2019-10-05 15:19] fovecsernyes commented on #2
@martonur kell segitseg?

[2019-10-05 15:20] fovecsernyes commented on #7
Szükségünk van erre?

[2019-10-05 15:27] fovecsernyes commented on #3
legyszi feature/3-ra nevezd at a branchet, hogy feature/issue_number legyen mindenhol egysegesen. koszi.

[2019-10-05 15:29] fovecsernyes commented on #4
@atesztoth meg tudnad nezni ezt? koszi

[2019-10-05 15:31] fovecsernyes commented on #7
mivel dockerben hostoljuk jelenleg, ezert kesobb fogunk vele foglalkozni.

[2019-10-05 15:33] fovecsernyes commented on #6
@vattila96 @zolkol0077  @leaderhun el tudtok kezdeni dolgozni rajta? az issue kb arrol szol, hogy megnezzetek, hogy djangoban hogyan lehet designt kesziteni, es ezzel egyutt  general designt meg kene csinalni. a branch neve majd feature/6 legyen. koszi

[2019-10-05 15:36] fovecsernyes commented on #5
@Leriel9 @Jugis ez a task arrol szol, hogy a DB legyen megtervezve, @atesztoth -tal majd legyszi beszeljetek, mert a https://github.com/fovecsernyes/pizza-ordering-system/issues/4 task rajta van, ami meg arrol szol, hogy django-ban hogyan tudjuk effektiven hasznalni az adatbazis muveleteket.

[2019-10-05 15:56] fovecsernyes opened #8 "#feature - menu design"
Please decide what menus do we need and implement a template for it.

We need clickable menus, which redirect to hello world-like pages. The order of the menus and the title of it is totally up to you. We need something like 'Home', 'My orders' etc.

[2019-10-05 15:56] fovecsernyes commented on #8
a branch neve majd legyszi feature/8 legyen.

[2019-10-05 16:03] fovecsernyes opened #9 "#feature - translation"
Please investigate and implement traslation feature for the website. We need hungarian and english languages.

We need a button that changes the language, and an example in the code, which can be reused. The following tutorial can be helpful: https://youtu.be/xI97sLMd1rM

[2019-10-05 16:04] fovecsernyes commented on #9
@96dervalics kell segitseg ebben?

[2019-10-05 16:06] fovecsernyes commented on #2
az lenne a legjobb, ha az app minden modositas utan ujratoltene, hogy gyorsabb legyen a fejlesztes.

[2019-10-05 18:17] atesztoth commented on #4
yes, de holnap fogok ra idot szanni

[2019-10-05 18:29] fovecsernyes commented on #4
@atesztoth raersz amugy, csak most jutottam el odáig hogy osszehuzzam a taskokat :D

[2019-10-06 06:46] fovecsernyes commented on #3
@martinb214 ha elkedted már, akkor légyszi rakd in progressbe. Köszi

[2019-10-06 08:55] martinb214 commented on #3
Investigated and implemented user authentication functions:

- Sign up

- Log in/ Log out

- Reset password

Notes:
Right now we cannot send the reset password emails because we do not have any email service.
I'm creating new issues which coming from this task.

Tips to the tester:
Create new user, log in, log out, reset password. You can find pw reset emails under src/sent_emails, use the link fr

[2019-10-06 09:03] martinb214 opened #10 "#feature - Add new fields to sign up form"
Now there are only username and password fields on the sign up page, but there should be some other too, such as:

- First and last name

- Age

- Home address

- Phone number

Please add these there and investigate how to store them in a DB (or how Django does this). According to GDPR we need to store these informations securely.

[2019-10-06 09:05] martinb214 commented on #10
Find me about security aspects of this issue when you are working on it.

[2019-10-06 09:09] martinb214 opened #11 "#ui - Create frontend to the new user authentication pages"
Please create unified look to user authentication pages. You can change the text fields and buttons' label there too.

[2019-10-06 09:15] martinb214 opened #12 "#feature - Solve email sending"
We need to send emails when someone orders something, resets password etc.

Please investigate and implement this functionality.

Tips:

- Docker SMTP server

- Free (but secure) email service

[2019-10-06 11:44] martonur commented on #2
I've mounted the source code to the Docker container, this way it automatically updates the web app upon page refresh, you don't have to rebuild the whole image.

[2019-10-06 14:50] martonur commented on #2
The separation of the docker-compose file and image building is done, now Docker won't try to rebuild the image every time the containers are started. (it also solves the dangling image problem, untagged images won't be present anymore)

If starting the app for the first time or after making changes in the Dockerfile the possibility to rebuild the image is given by the rebuild_images.sh script.

I

[2019-10-06 14:51] fovecsernyes opened #13 "Collect user stories"
Please collect and create user stories based on what we discussed in the class.

It should look like the following statement:

- " As a user i want to register a new user and log in, and log out."

- "As an admin i want to upload new pizzas to the database."

[2019-10-06 15:16] martonur commented on #13
Helpful articles for deeper understanding:
https://www.freecodecamp.org/news/how-and-why-to-write-great-user-stories-f5a110668246/
https://www.atlassian.com/agile/project-management/user-stories

[2019-10-06 20:14] atesztoth commented on #4
A dockerconfighoz lenne majd sok javaslatom, egy kis tuninggal egész használhatóvá lehetne tenni. Most minden changenél rebuildelni kell (ha dockerben akarod látni a változásokat ofc).

[2019-10-06 20:15] atesztoth commented on #4
Ja látom már van rá egy PR. Zsír! Akkor nem csak engem zavart! :D

[2019-10-06 20:15] fovecsernyes commented on #4
:D holnap mergelem majd

[2019-10-06 20:20] fovecsernyes commented on #4
a gitignore nevu branchedet legyszi nevezd at feature/4-re es a ezzel a taskkal egyutt lehet majd mergelni

[2019-10-06 20:21] atesztoth commented on #4
Törlöm. Benne lesz mint commit ebben is. 👍

[2019-10-06 20:37] Jugis commented on #5
Csináltam brencset, és felcsekkoltam a domain/serialize fájlt, nézzetek rá.

Majd írok egy page-t amiben benne vannak a DB paramok magyarázatai.

[2019-10-06 21:21] fovecsernyes commented on #5
legyszi nevezd at a branchet feature/5 -re (az 5 itt az issue szama) koszi.

[2019-10-07 10:35] Jugis commented on #5
Done

[2019-10-07 14:03] 96dervalics commented on #9
@fovecsernyes a video alapjan meglesz szerintem.

[2019-10-07 15:44] fovecsernyes commented on #5
ha ugy erzed kesz van, nyugodtan nyithatsz egy pr-t a masterbe, es legyszi adj egy rovid leirast, hogy hogyan lehet megnezni, hogy amit csinaltal, az mukodik. koszi

[2019-10-07 15:46] #4 closed

[2019-10-07 15:47] #2 closed

[2019-10-07 15:47] #3 closed

[2019-10-11 15:33] Leriel9 commented on #5
Nagyon jó lett a séma, viszont azt nem látom, hogy a felhasználók egyéni pizzáit melyik tábla tárolná.

[2019-10-11 20:29] martinb214 commented on #8
Reviewed and tested changes, requirements talked directly with @botireal.

[2019-10-12 07:19] Jugis commented on #5
Mert azt elfelejtettem :D Ma módosítom és beadom a PR_t

[2019-10-12 11:39] martinb214 commented on #8
Changes made by @botireal, everything ok, ticket is ready to merge.

[2019-10-12 11:40] #8 closed

[2019-10-12 12:36] fovecsernyes opened #20 "Review and solve issues"
Please review the site as a whole application (considering the status) and fix the issues if any exists.

[2019-10-12 12:36] fovecsernyes commented on #20
The login and singup should be integrated as an inner page.

[2019-10-12 12:37] fovecsernyes commented on #20
The title of the site should be renamed.

[2019-10-12 12:38] fovecsernyes commented on #20
The login should be moved from the front of the page.

[2019-10-12 12:39] fovecsernyes commented on #20
The image replication should be removed from the Home page.

[2019-10-12 13:17] fovecsernyes opened #22 "#feature - Unified footer"
Right now the footer is added to every single html, but it is the same on every page. Please create unified (same on every page) footer with content and change it on every page (as the navigation bar) in the layout folder.

[2019-10-12 13:23] fovecsernyes opened #23 "#feature - Implement frontend for "my orders""
Please implement **frontend** for _my orders_

Please use the following design: https://github.com/fovecsernyes/pizza-ordering-system/blob/feature/6/design/myorders.png

[2019-10-12 13:26] fovecsernyes opened #24 "#ui - Style for login, signup and password reset"
Please add style for Login, signup and password reset pages.

[2019-10-12 13:27] fovecsernyes opened #25 "#ui - Navbar style"
Please make navigation bar stylish.

[2019-10-12 13:31] fovecsernyes opened #26 "#database - implement entities"
Please add the designed entites to the app so we can use them.

- The basline schema can be found here: https://github.com/fovecsernyes/pizza-ordering-system/issues/5

- The usage can be found here: https://github.com/fovecsernyes/pizza-ordering-system/issues/4

ps: on the admin page (user: admin, password: password) the entities can be checked: http://localhost:8000/admin/app/

[2019-10-12 15:17] fovecsernyes commented on #5
@Jugis majd legyszi ird le hogy pontosan mit csinaltal ebben a taskban, es milyen fajlok hova kerultek, hogy egyszerubb legyen reviewezni. koszi

[2019-10-12 20:22] martinb214 commented on #24
Duplicate label added, see #11

[2019-10-12 20:31] #20 closed

[2019-10-12 20:51] martinb214 commented on #25
And please do not forget to make the navigaton bar's references consistent (e.g., Pizzas vs Sign up). You can copy a popular website's navbar style here.

[2019-10-13 09:50] fovecsernyes commented on #9
mikorra varhato, hogy befejezitek?

[2019-10-13 09:50] fovecsernyes commented on #6
mikorra varhato, hogy befejezitek?

[2019-10-13 09:52] #24 closed

[2019-10-13 09:54] fovecsernyes commented on #5
lesz ma PR?

[2019-10-13 09:59] fovecsernyes commented on #6
meg legyszi mozgassatok a boardon a taskot: https://github.com/fovecsernyes/pizza-ordering-system/projects/1

[2019-10-13 09:59] fovecsernyes commented on #9
meg legyszi mozgassatok a boardon a taskot: https://github.com/fovecsernyes/pizza-ordering-system/projects/1

[2019-10-13 09:59] fovecsernyes commented on #13
legyszi mozgasd a boardon a taskot: https://github.com/fovecsernyes/pizza-ordering-system/projects/1

[2019-10-13 10:01] fovecsernyes commented on #13
+ kerlek beszelj a sracokkal, akik ezen dolgoznak: https://github.com/fovecsernyes/pizza-ordering-system/issues/6 , hogy ne legyen kavarodas. Pl a my ordershez a design mar megvan.

[2019-10-13 10:01] 96dervalics commented on #9
én töltöttem fel feature/9 branch-re megoldást (példával)
view-ba:
{% load i18n %} kell
és {% trans "Magyar szöveg..." %} szerint fordít,
a nyelvváltoztató gomb benne van a commitba (pizzexample.html).

máshol:
from django.utils.translation import gettext as _
szerint test_translate = _("(teszt fordítás)") fordít

a settings.py és az urls.py -ben kell módosítani hogy ez működjön

tettem bele egy .

[2019-10-13 10:06] fovecsernyes commented on #6
legyszi beszeljetek @Aldius -sal, aki ezen dolgozik: https://github.com/fovecsernyes/pizza-ordering-system/issues/13 , hogy ne legyen kavarodas.

[2019-10-13 10:13] fovecsernyes commented on #11
validation should **not** be done here. the following htmls should have style (css):

signup.html
login.html
password_reset_complete.html
password_reset_confirm.html
password_reset_done.html
password_reset_form.html

[2019-10-13 10:16] fovecsernyes commented on #25
@martinb214 means that the Pizzas menu is a button and Sign up is a link, not a button. These should be consistent.

[2019-10-13 10:26] fovecsernyes opened #27 "#feature - Login/sign up validation"
Please add validation for the following pages:

signup.html
login.html

[2019-10-13 11:44] fovecsernyes commented on #9
@96dervalics igen, magyar lenne alapbol. ha kesz van, nyitsz egy pull requestet? (ha kell segitseg szolj nyugodtan)

[2019-10-13 11:53] fovecsernyes opened #28 "#feature - Implement frontend for Profile page"
Template can be found here: https://github.com/fovecsernyes/pizza-ordering-system/blob/master/design/profile.png

[2019-10-13 11:53] fovecsernyes opened #29 "#feature - implement frontend for Pizzas page"
Template can be found here: https://github.com/fovecsernyes/pizza-ordering-system/blob/master/design/pizzas.png

NOTE: the first entry should be clickable, which opens custom pizza creator page.

NOTE: please implement paginator, something like here: https://www.dev2qa.com/django-filter-and-pagination-example/

[2019-10-13 11:54] fovecsernyes opened #30 "#feature - Implement frontend for Home page"
Template can be found here: https://github.com/fovecsernyes/pizza-ordering-system/blob/master/design/homepage.png

[2019-10-13 11:57] fovecsernyes opened #31 "#feature - Customized pizza page"
please implement the customized pizza page based on https://github.com/fovecsernyes/pizza-ordering-system/blob/master/design/customize_pizza_modal.png

[2019-10-13 12:05] fovecsernyes commented on #6
Legyszi rakjatok bele a hirlevelre valo feliratkozast, es a Pizzas oldalon az egyeni pizza keszitesenek tervet.

[2019-10-13 17:48] #9 closed

[2019-10-13 17:49] fovecsernyes opened #33 "#feature - integrate translation into navbar"
Please integrate translation to the navigation bar, so the user could set the language from every page. Adjust the urls if neccessary.

[2019-10-13 17:59] fovecsernyes commented on #7
we dont need ssl in the docker so i am closing this issue

[2019-10-13 17:59] #7 closed

[2019-10-13 18:01] fovecsernyes commented on #10
the sign up page will not be modified, but the profile page after login.

[2019-10-13 18:01] #10 closed

[2019-10-14 08:21] Aldius commented on #13
[User Story Document.docx](https://github.com/fovecsernyes/pizza-ordering-system/files/3723564/User.Story.Document.docx)

Elkészítettem a Business oldali user storykat. :)

[2019-10-14 18:53] Jugis commented on #5
@Leriel9  nem tudnád befejezni esetleg?

[2019-10-14 19:21] fovecsernyes opened #35 "#feature - implement frontend for customized pizzas"

[2019-10-15 14:04] fovecsernyes commented on #5
@Leriel9 legyszi fejezd be, mert blokkolja a kovetkezo taskot ez az issue. koszi.

[2019-10-15 17:01] #6 closed

[2019-10-15 22:03] #5 closed

[2019-10-15 22:10] fovecsernyes commented on #27
contact @martinb214 if neccessary.

[2019-10-15 22:12] fovecsernyes commented on #26
check this pr for more info: https://github.com/fovecsernyes/pizza-ordering-system/pull/36

[2019-10-15 22:18] fovecsernyes commented on #35
accidentally createad

[2019-10-15 22:18] #35 closed

[2019-10-16 12:58] atesztoth commented on #26
Thanks m8. Will take a look at it whenever I happen to have some 🗽time

[2019-10-17 19:46] martinb214 commented on #12
To solve email sending I used Google's SMTP server. To use this server you need a gmail account, so while implementing this feature I used mine, but later we should create an own account.

There are two important steps to do in the Google account before send mails:
1. [Allow less secure apps](https://myaccount.google.com/lesssecureapps)
2. [Disable Captcha](https://accounts.google.com/displayunloc

[2019-10-17 20:36] #23 closed

[2019-10-17 20:36] fovecsernyes commented on #23
https://github.com/fovecsernyes/pizza-ordering-system/pull/37

[2019-10-17 20:57] #12 closed

[2019-10-18 20:00] martinb214 commented on #25
Reviewed and tested, small changes are needed:
-Please autosquash fixup commits
-Navbar is not responsive (tested in Safari and Mozilla Firefox)

[2019-10-19 17:18] #25 closed

[2019-10-19 17:21] fovecsernyes commented on #33
Can you give me some feedback about your progress? This issue is still in the "To do" column on the board.

[2019-10-19 17:21] fovecsernyes commented on #31
Can you give me some feedback about your progress? This issue is still in the "To do" column on the board.

[2019-10-19 17:21] fovecsernyes commented on #30
Can you give me some feedback about your progress? This issue is still in the "To do" column on the board.

[2019-10-19 17:22] fovecsernyes commented on #29
Is everything OK with this task?

[2019-10-19 17:22] fovecsernyes commented on #28
Can you give me some feedback about your progress? This issue is still in the "To do" column on the board.

[2019-10-19 17:22] fovecsernyes commented on #27
Can you give me some feedback about your progress? This issue is still in the "To do" column on the board.

[2019-10-19 17:22] fovecsernyes commented on #26
Can you give me some feedback about your progress? This issue is still in the "To do" column on the board.

[2019-10-19 17:22] fovecsernyes commented on #22
Can you give me some feedback about your progress? This issue is still in the "To do" column on the board.

[2019-10-19 17:22] fovecsernyes commented on #13
A masik oldali storyk is kesz lesznek? koszi

[2019-10-19 17:23] fovecsernyes commented on #11
Can you give me some feedback about your progress? This issue is still in the "To do" column on the board.

[2019-10-19 18:36] atesztoth commented on #26
Tomorrow m8. Its s6urday

[2019-10-19 18:37] atesztoth commented on #26
Amugy tenyleg bocsi hogy kesek vele. Holnap foglalkozok ezzel. A problema hogy mindig van mivel...

[2019-10-19 20:26] 96dervalics commented on #33
Its in progress. I forgot to move it.
I'll finish it tomorrow.

[2019-10-19 21:25] fovecsernyes commented on #33
@96dervalics cool, thanks for the work. Please sync the current master, because a new navbar was added.

[2019-10-20 09:29] zolkol0077 commented on #29
Yes, it will be finished soon.

[2019-10-20 09:50] martonur commented on #22
I'm starting to work on the issue now.

[2019-10-20 10:40] vattila96 commented on #11
I will start working on it today.

[2019-10-20 12:14] martonur commented on #22
The footer is changed to a unified one on every single html page. I've added a lame slogan to serve as a placeholder, IMO later we can add the social icons here instead of including them in the header.

P.S.: while I was looking through the html files I've found them a little ugly, some beautifying might be needed. (mainly indentation)

[2019-10-20 12:16] fovecsernyes commented on #22
@martonur feel free to include social icons to the footer and do the indentation.

[2019-10-20 13:55] #33 closed

[2019-10-20 15:17] fovecsernyes commented on #29
@zolkol0077  if it is ready for a review, please open a pull request. if you need help with that feel free to contact me.

[2019-10-20 16:23] #22 closed

[2019-10-20 16:30] #13 closed

[2019-10-21 08:28] leaderhun commented on #31
I hope i will finish it today/tomorrow afternoon :)

[2019-10-22 20:55] fovecsernyes commented on #11
How is your progress?

[2019-10-22 20:56] fovecsernyes commented on #26
Did you get the neccessary infos?

[2019-10-22 20:56] fovecsernyes commented on #27
Will you be able to work on this task?

[2019-10-22 20:57] fovecsernyes commented on #28
Will you be able to work on this task?

[2019-10-22 20:57] fovecsernyes commented on #29
Can you correct the search bar? The paginator is not urgent.

[2019-10-22 20:58] fovecsernyes commented on #30
Will you be able to work on this task?

[2019-10-22 21:09] #31 closed

[2019-10-23 07:02] Jugis commented on #27
Will be done on weekend

[2019-10-23 20:12] atesztoth commented on #26
now yes. pizza for you m8

[2019-10-24 11:37] #26 closed

[2019-10-24 11:53] fovecsernyes commented on #11
Do you need help with it?

[2019-10-24 20:28] vattila96 commented on #11
Will be done until tomorrow afternoon.

[2019-10-27 10:01] fovecsernyes commented on #11
@vattila96 will you be able to finish it this weekend?

[2019-10-27 10:01] fovecsernyes commented on #27
@Jugis will you be able to finish it this weekend?

[2019-10-27 10:02] fovecsernyes commented on #30
@ati008 if there is no interaction from you until midnight, i'll unassign this task from you.

[2019-10-27 10:03] fovecsernyes commented on #28
@szabobarna96  if there is no interaction from you until midnight, i'll unassign this task from you.

[2019-10-27 10:05] fovecsernyes commented on #11
Or if it is done, please create a pull request called 'feature/11'

[2019-10-27 13:05] fovecsernyes opened #48 "#validation - acceptance checklist"
- I would like to ask you to retest all the closed issues and please make notes about what is wrong in your opinion (for example the custom pizza page is not resposnive) based on the customer needs. Master branch is OK to test on.

- When we release the software we need an acceptance checklist. Please create a factory acceptance checklist **based on the current software status**.

[2019-10-27 13:53] fovecsernyes opened #49 "#support - support development"
Since multiple collaborators will work on the backend tasks, I would like to ask you to help them if they need with the following:

- how to use entities (read, write etc.)
- how to send request to the backend
- how to respond to a frontend request
- how to handle responses
- how to update content based on the response
- help with the planning of the functionalities
- review their code before crea

[2019-10-27 13:55] fovecsernyes opened #50 "#support - support frontend development"
Since multiple collaborators will work on the frontend tasks, I would like to ask you to help them if they need with the following:

- how to send request to the backend
- how to handle responses
- how to update content based on the response
- review their code before creating a PR

In this task you do not need to write any code, just give your support to make development faster and better.

[2019-10-27 13:57] fovecsernyes opened #51 "#feature - Tracking"
Please investigate and implement the easiest way to track a pizza order. The method is totally up to you, but it should work.

[2019-10-27 14:05] fovecsernyes opened #52 "#feature - Payment"
Please investigate and implement a DEMO paying site (for example OTP simplepay). It should be as simple as possible.

Some useful sites:
- https://portal-sandbox.openbanking.otpbank.hu/#/
- https://www.simplepay.hu/fejlesztoknek

[2019-10-27 14:10] fovecsernyes opened #53 "#feature - create backend for Pizzas site"
Please create a backend for the pizzas site. The frontend should be also filled with data in this task. Since there are 3 assignees on this task, please share the work. If you need any help, do not hesitate to ask in this tasks: https://github.com/fovecsernyes/pizza-ordering-system/issues/49

[2019-10-27 14:12] fovecsernyes opened #54 "#feature - create backend for My Orders site"
Please create a backend for My Orders site. The frontend should be also filled with data in this task. If you need any help, do not hesitate to ask in this tasks: https://github.com/fovecsernyes/pizza-ordering-system/issues/49

[2019-10-27 14:23] Jugis commented on #27
I won't be able to contribute any further I don't even have time for the course itself. Do not assign issues on me anymore sorry

[2019-10-27 14:35] fovecsernyes commented on #50
this is not neccessary, the support will be handled only in https://github.com/fovecsernyes/pizza-ordering-system/issues/49

[2019-10-27 14:35] #50 closed

[2019-10-27 15:35] #11 closed

[2019-10-27 18:43] fovecsernyes commented on #53
Please wait until https://github.com/fovecsernyes/pizza-ordering-system/issues/29 is closed.

[2019-10-27 19:23] zolkol0077 commented on #51
Do we want to live track the Courier on the map or just stage of the food?

[2019-10-27 19:25] fovecsernyes commented on #51
Up to you, but simple live track would be better.

[2019-10-27 20:40] #29 closed

[2019-10-27 20:41] fovecsernyes commented on #53
it is done

[2019-10-28 13:00] atesztoth commented on #49
🎉🎉

and respect Cashe

[2019-10-30 18:32] martonur commented on #53
@fovecsernyes can you please add a more specific description of the task and the needed working functionalities?

[2019-10-30 19:16] fovecsernyes commented on #53
@martonur

- ~~If the user is not logged in, buy button should be inactive some way and tell the user to log in for ordering~~
- ~~The pizzas added by the admin on the admin page to the databese should be listed~~
- ~~Custom pizza creating should work, and after saving it should be displayed under create 'custom pizza' button. The saved custom pizza has an edit button.~~
- ~~Free text search shoul

[2019-10-30 19:17] fovecsernyes commented on #53
and feel free to modify the desing if neccessary.

[2019-10-30 19:18] fovecsernyes commented on #53
Due date is around this Sunday (3rd on November). Please contact me if you have a hard time to finish. Thanks in advance.

[2019-10-30 19:19] fovecsernyes commented on #54
Due date is around this Sunday (3rd on November). Please contact me if you have a hard time to finish. Thanks in advance.

[2019-10-30 19:19] fovecsernyes commented on #51
Due date is around this Sunday (3rd on November). Please contact me if you have a hard time to finish. Thanks in advance.

[2019-10-30 19:19] fovecsernyes commented on #48
Due date is around this Sunday (3rd on November). Please contact me if you have a hard time to finish. Thanks in advance.

[2019-10-30 19:19] fovecsernyes commented on #30
Due date is around this Sunday (3rd on November). Please contact me if you have a hard time to finish. Thanks in advance.

[2019-10-30 19:19] fovecsernyes commented on #28
Due date is around this Sunday (3rd on November). Please contact me if you have a hard time to finish. Thanks in advance.

[2019-10-30 19:19] fovecsernyes commented on #27
Due date is around this Sunday (3rd on November). Please contact me if you have a hard time to finish. Thanks in advance.

[2019-10-31 09:34] 96dervalics commented on #30
I can only do this on the weekend.
I have to do the html (with python)/css and connect the model to it?

[2019-10-31 10:22] fovecsernyes commented on #30
@96dervalics weekend is okay. Just implement the frontend without backend (have a look at the closed frontend issues such as my orders and pizzas).

[2019-10-31 11:56] martonur commented on #53
As a first step I've started to work on displaying the pizzas added by the admin on the Pizzas page.

[2019-10-31 12:48] martonur commented on #49
Hey m8, how can I add additional attributes to the Pizza class? I've found out that modifying the models.py file is not enough because it doesn't affect directly the database format and results in errors on both the pizzas and admin pizzas page.

[2019-10-31 19:48] atesztoth commented on #49
Yo my testamentum! Migrations to the rescue! `python src/manage.py makemigrations` I guess.
Now unfortunately I dont have my mac with me so I cannot try it.
But here is some metal-food to chew on:
https://docs.djangoproject.com/en/2.2/topics/migrations/

[2019-10-31 19:49] atesztoth commented on #49
_(I mean it seems to me that the problem is that you modify things in models but this does not propagate to the db since the driver does not gets informed about it.)_

[2019-11-01 07:06] martonur commented on #49
Exactly, that's what I was missing, thanks for the support!!

[2019-11-01 07:33] martonur commented on #53
The pizzas from the database are now listed on the Pizzas page _(feature/53)_, started to work on the search function.

[2019-11-01 07:47] atesztoth commented on #49
A man helps where he can. 🙏🏽

[2019-11-01 09:24] fovecsernyes commented on #53
Could you highlight somehow the content of my previous comment the parts that are done? Ty

[2019-11-01 09:27] martonur commented on #53
Done.

[2019-11-01 09:42] martonur commented on #53
The search function is now working as it should.

[2019-11-01 09:49] martonur commented on #53
@martinb214 @botireal I've finished with the 2 crossed tasks, is it okay if I do the 5th task as my last in this issue? (allergene (check boxes at top) and pizza size/menu/dessert filtering should work
) Btw I'm starting to get the hang of the Django framework, feel free to ask if you feel stuck.

[2019-11-01 17:10] #27 closed

[2019-11-02 10:32] martinb214 commented on #53
Buy and Edit buttons' different behavior is done. Waiting for @botireal to choose his tasks.

@fovecsernyes are you sure that we should implement shopping cart's functions in this issue? I think it is enough work (research and implementation) for an independent issue.

[2019-11-02 10:39] botireal commented on #53
@martonur @martinb214  i've started to work on "custom pizza creating should work, and .."

[2019-11-02 11:01] fovecsernyes commented on #53
If you click on "Buy" (later it might be renamed to "Add to cart"), it should have an action (store the ordered pizza somewhere). Just simply write it to the shopping cart.

[2019-11-02 13:39] #30 closed

[2019-11-02 20:36] martinb214 commented on #53
Shopping cart as popup window is done. Developer could delete dummy content of popup window (commented part) while shopping cart's implementation.

[2019-11-02 21:00] botireal commented on #53
Custom pizzas creating is done.

[2019-11-02 22:29] Leriel9 commented on #54
I've done what I could, but there are some problems regarding this task.

1. There isn't a relationship between Order and Address, so we don't actually know the billing address for each order. (Right know I just take the last created Address.)
2. Only the Transaction has an Amount field, so we can't show the price for each item. We only know the total sum.

Nevertheless I created feature/54 branch

[2019-11-02 22:31] fovecsernyes commented on #54
Ask for help here: https://github.com/fovecsernyes/pizza-ordering-system/issues/49

[2019-11-02 23:40] Leriel9 commented on #49
I need some help!
1. There isn't a relationship between Order and Address, so we don't actually know the billing address for each order.
2. Only the Transaction has an Amount field, so we can't show the price for each item. We only know the total sum.

I need to show these attributes for each order, for the 'My orders' page.
<details><summary>I tried changing the classes and then migrating the dat

[2019-11-03 17:51] martonur commented on #49
I think you get this error because you are trying to run the migration script locally instead of in the container. Follow the instructions from this guide and I think you will be good to go:
https://phase2.github.io/devtools/common-tasks/ssh-into-a-container/
(after migration don't forget tot restart the containers)

[2019-11-03 17:59] zolkol0077 commented on #51
The frontend part is more or less finished but it needs some backend support:
- Need to add a POST endpoint to the backend where the couriers can post their positions with a body like this:

[code]
- Coordinates need to be returned to the frontend based on the `courierId - orderId - userId` connections.

ps.: where should I put this map?

[2019-11-03 18:49] fovecsernyes commented on #51
consult https://github.com/fovecsernyes/pizza-ordering-system/issues/49 for a simple backend.

For now put it under "My Orders" somehow.

[2019-11-03 21:41] zolkol0077 commented on #51
This could be a feature on its own because the response has to be different in for every user based on the ordering number it's not a 5min craft in my opinion.

[2019-11-03 21:43] fovecsernyes commented on #51
Okay, it will be new task

[2019-11-03 22:16] Leriel9 commented on #49
Perfect, thank you!

[2019-11-05 15:27] #48 closed

[2019-11-05 15:39] #28 closed

[2019-11-08 20:29] martinb214 commented on #53
Tried to working on it but I keep getting DB errors. Clean install (docker image rm and build_images) didn't solve the problem. I tried to find any solution but I'm not really a DB specialist so please inform me when these errors solved. Thx.

[2019-11-08 20:38] fovecsernyes commented on #51
Can you open a pr for it if its done?

[2019-11-08 20:39] fovecsernyes commented on #53
Will you be able to finish it this weekend? If you have problems contact @atesztoth .

[2019-11-08 21:27] martinb214 commented on #53
It depends on the DB. It's hard to do anything without a working website.

[2019-11-09 15:43] zolkol0077 commented on #51
The frontend part without backend data?

[2019-11-09 15:47] fovecsernyes commented on #51
Yep

[2019-11-10 13:33] #54 closed

[2019-11-10 13:35] fovecsernyes commented on #53
the database has been updated in master, please merge it to your branch to avoid conflicts.

[2019-11-10 20:30] martonur commented on #53
@martinb214 try deleting every indexed file from src/app/migrations.

The pizzas page and adding a pizza as admin is working for me after merging master to our branch, but for some reason I can't add a custom pizza on the Pizzas page.

IMO the allergen and food type filtering should be a new task which has to involve rewriting the models because atm they aren't well suited for our use case.

[2019-11-10 20:33] fovecsernyes commented on #53
@botireal please have a look at custom pizza creating.

ok, i'll create a new task for it.

@martinb214 if the solution above in not working, try to delete everyting using this: https://gist.github.com/beeman/aca41f3ebd2bf5efbd9d7fef09eac54d and clone the git directory again, if you are still not able to run it. it has solved the problem for me in an another task.

[2019-11-10 21:32] martonur commented on #53
Custom pizza creation is working now, but note that it's not connected to the database yet, we have to first agree on what attributes should pizzas and all the other model classes have.

[2019-11-10 21:36] martonur commented on #49
Hey @atesztoth, can you explain it to me how models magically appear on the admin page? E.g. if I want to create a new model class, what do I have to do to be able to reach it from the admin page and create a new instance from it. Last time I tried to do that the new model sadly wasn't listed on the admin page.

[2019-11-10 21:39] atesztoth commented on #49
Yes! It must be because you skipped one step. In my next comment you’re going to see the full answer.

[2019-11-10 21:42] atesztoth commented on #49
Create you model in one of the two models.py, then in this file you must register it in order to have it appearing on the admin site: <root>/src/app/admin.py .

[2019-11-16 09:40] martinb214 commented on #53
After following @martonur's instructions to a working Pizzas page I keep getting DB error:
`django.db.utils.ProgrammingError: column app_pizza.size does not exist`. I see a commit to solve this error but it does not work for me.
I can start working on further features when after a clean install everything works smoothly and there is no need for hacking and workarounds...

[2019-11-16 09:46] fovecsernyes commented on #53
@martinb214 remove the db volume listed with "docker volume list".

[2019-11-17 11:08] #53 closed

[2019-11-17 11:08] #49 closed

[2019-11-17 11:09] fovecsernyes commented on #51
Please open a pull request at least for the frontend part.

[2019-11-17 11:18] fovecsernyes opened #61 "#feature - implement backend for Home page"
Please implement backend for the Home page with the followings:

- The admin should have the possibility to add images from the admin page to the Home page
  - The big picture on top
  - the Recommended pizza pictures
  - the discount pictures

- The admin should have the possibility to modify the description text on the Home page from the admin page

- The admin should have the possibiliy to modi

[2019-11-17 11:22] fovecsernyes opened #62 "#feature - Implement backend for Profile page"
Please implement backend functionality for Profile page.

- The user has to be able to save the data to database
- Please remove credit card information
- The user has to be able to add/edit/remove location

[2019-11-17 11:26] fovecsernyes opened #63 "#feature - accessibility"
Please do a research and implement a method to help people with disabilities to use the website. This task should include the following:

- Set a different color scheme
- The ability to enlarge the fonts.

Please add a button/slider or something like that to the frontend.

[2019-11-17 11:33] fovecsernyes opened #64 "#Bugfixing - Pizzas page"
The pizzas page has some bugs, please fix them:

- ~~When creating a custom pizza, the changing between topping and bases/sauces does not work. It works when editing.~~

- ~~A reset button is missing from the search input. Now the user has to do an empty search to clear the filtering.~~

- ~~The admin should have the possibility to add a picture to the pizza when creating on the admin site.~~

[2019-11-17 11:37] fovecsernyes opened #65 "#feature - implement category filtering for Pizzas page"
Please implement catgory filtering for pizzas on the pizzas page with the followings:

- The admin should have the possibility to add categories, and the categories should be read from the db.
- These categories should be possible to add to the pizzas when creating.
- The filtering should work
- Reseting should also work

The categories are the orange buttons on the pizzas page.

[2019-11-17 11:39] fovecsernyes opened #66 "#documentation for class"
Please create the Requirements Engineering documentation for class.

[2019-11-17 11:42] fovecsernyes opened #68 "#design - general"
The color scheme right now is not the best, and the customer wants us to improve it. Please create a design scheme and reimplement the css files to make the page look nice. It should have a light and a night mode (changing between them is not part of this task, it is a different issue.)

The customer asked us to change the yellow color to some darker blue.

[2019-11-17 11:43] fovecsernyes commented on #63
The css will be provided in this task: https://github.com/fovecsernyes/pizza-ordering-system/issues/68

[2019-11-17 11:43] fovecsernyes commented on #68
The changing feature will be provided in this task: https://github.com/fovecsernyes/pizza-ordering-system/issues/63

[2019-11-17 11:50] fovecsernyes opened #69 "#feature - shopping cart"
Please implement the shopping cart function on pizzas page and on pizzas/custome pizza site and rename the buy button to add to cart.

Please investigate what is missing and implement it. The pay button should redirect to some preimplemented OTP/ERSTE etc. demo paying site IN THE FUTURE.

[2019-11-17 11:58] #51 closed

[2019-11-17 12:11] fovecsernyes commented on #69
If you have problems with starting the app because the migration scripts, just run the
[code]

code snippets.

[2019-11-17 12:11] fovecsernyes commented on #68
If you have problems with starting the app because the migration scripts, just run the
[code]

code snippets.

[2019-11-17 12:11] fovecsernyes commented on #66
If you have problems with starting the app because the migration scripts, just run the
[code]

code snippets.

[2019-11-17 12:11] fovecsernyes commented on #65
If you have problems with starting the app because the migration scripts, just run the
[code]

code snippets.

[2019-11-17 12:11] fovecsernyes commented on #64
If you have problems with starting the app because the migration scripts, just run the
[code]

code snippets.

[2019-11-17 12:11] fovecsernyes commented on #63
If you have problems with starting the app because the migration scripts, just run the
[code]

code snippets.

[2019-11-17 12:12] fovecsernyes commented on #62
If you have problems with starting the app because the migration scripts, just run the
[code]

code snippets.

[2019-11-17 12:12] fovecsernyes commented on #61
If you have problems with starting the app because the migration scripts, just run the
[code]

code snippets.

[2019-11-17 12:12] fovecsernyes commented on #52
If you have problems with starting the app because the migration scripts, just run the
[code]

code snippets.

[2019-11-18 08:50] atesztoth commented on #52
all right man thanks!

[2019-11-22 19:26] botireal commented on #64
All points of the issue (reset button, picture adding, custom creation) are done.

[2019-11-23 10:31] #66 closed

[2019-11-23 18:12] martinb214 commented on #62
Task is implemented, ready for testing. Unfortunately I had to delete the already done fronted on Profile page because that has constant data. We should reopen the frontend related issue for this page.

[2019-11-24 23:09] zolkol0077 commented on #63
Pushed changes to https://github.com/fovecsernyes/pizza-ordering-system/pull/76.
I need some feedback if I went in the right way.
Either way, I still need to make changes in the code.

[2019-11-25 13:58] fovecsernyes opened #77 "#Authentication problems"
all the paths are reachable without logging in (profile, custom pizza creation is available etc.)

[2019-11-25 14:37] fovecsernyes commented on #61
do you have any progress?

[2019-11-25 14:38] fovecsernyes commented on #68
do you have any progress?

[2019-11-25 15:01] leaderhun commented on #68
oops, i totally forgot about it. I will finish it on wednesday

[2019-11-25 15:13] #65 closed

[2019-11-25 17:53] #62 closed

[2019-11-25 20:43] #64 closed

[2019-11-28 19:02] #61 closed

[2019-11-28 19:13] fovecsernyes commented on #68
@leaderhun do you have any progress on this one?

[2019-12-01 22:06] fovecsernyes commented on #68
Still have not heard of your progress. Is there anything new?

[2019-12-01 22:13] fovecsernyes opened #79 "#bugfix - rename pizza model"
Please rename the Pizza modell to FoodProduct (or something like that) while preserving all the functionalities of the model. Custom pizza creation is not working, because categories <- please also fix this

[2019-12-01 22:15] #52 closed

[2019-12-01 22:21] fovecsernyes opened #80 "#translation - add missing translations"
Lots of translations are missing, please add them.

[2019-12-01 22:27] fovecsernyes opened #81 "Connect checkout card with our payment server."
Please connect the shopping cart with our payment server. RIght now it redirects to https://stripe-payments-demo.appspot.com/ .

Please add pizzas to my orders if the user is clicked on checkout of if the payment was successful

[2019-12-01 22:28] fovecsernyes opened #82 "Design profile page"
The design of the profile page is broken, since the fronted code was not suitable for the backend. Please create the design for it, without ruining the backend.

[2019-12-01 22:30] fovecsernyes opened #83 "Make allergens a database parameter"
Please make allergens (as the categories) as a database parameter. The user request is the following: select allergens which I don’t want in my pizza – these pizzas will appear with a pink border

[2019-12-01 22:32] fovecsernyes opened #84 "Create backend for pizza tracking"
Please create backend for live pizza tracking.

[2019-12-01 22:33] fovecsernyes opened #85 "Include mixed pizzas"
Somehow allow the user to create mixed (not custom) pizzas. My idea is to add a "Add to cart as half" button or someting like that and disable the checkout button until the sum of the pizzas is not an integer. But any solutions are welcome.

[2019-12-05 12:02] fovecsernyes opened #88 "Bugfixing - Custom pizza"
- The custom pizza creation feature is currently broken. The category is missing, please fix this.

- The toppings/sauces can stay hardcoded for now, but please add price for the topping/sauces (the price should change as the user changes topping/sauces)

- remove that hardcoded shopping cart from the popup.

[2019-12-05 12:02] zolkol0077 commented on #84
Please ask a backend developer for it.
Every information that is needed can be found here https://github.com/fovecsernyes/pizza-ordering-system/issues/51#issuecomment-549162432

[2019-12-05 12:02] fovecsernyes commented on #88
If you need any help, please contact me.

[2019-12-06 12:31] #63 closed

[2019-12-06 12:41] #69 closed

[2019-12-06 12:59] fovecsernyes commented on #84
I am asking you to do it, because there is no "backend" developer. If you need any help, please ask in our facebook group. Simply a random generated position based on time or whatever is enough. So it will look like the delivery guy is moving.

[2019-12-06 13:44] #68 closed

[2019-12-06 17:46] zolkol0077 commented on #84
I see a list of 5 people on our facebook group who registered themself as a backend developer at the project start.
I am not qualified for this task. Your "seek for help" idea would work in a way that I ask somebody to do it for me but I am not the guy who assign tasks to people. There is no point of start learning how to do any stuff in python just for one task like this at the end of the project

[2019-12-08 15:46] #83 closed

[2019-12-08 16:04] #85 closed

[2019-12-08 16:50] #82 closed

[2019-12-08 18:12] #80 closed

[2019-12-09 20:14] #77 closed

[2019-12-09 20:58] #81 closed

[2019-12-12 21:24] fovecsernyes commented on #79
project is finished for now so closing this task

[2019-12-12 21:24] #79 closed

[2019-12-12 21:24] fovecsernyes commented on #84
project is finished for now so closing this task

[2019-12-12 21:24] #84 closed

[2019-12-12 21:24] #88 closed